footer {
  width: 100%;
  height: auto;
  position: relative;
  top: 100px;
  z-index: -10;
}

.footer {
  width: 100%;
  height: auto;
  background-color: $mainBlue;
  color: #fff;

  @mixin atLarge {
    height: 400px;
  }

  &__copyrights {
    width: 100%;
    height: 50px;
    background-color: $darkBlue;
    color: #fff;
    text-align: center;
    margin-top: -20px;
    padding-top: 2px;
  }
  &__info {
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    @mixin atLarge {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      text-align: left;
      height: 100%;
    }
  }
  &__list {
    @mixin atLarge {
      padding-left: 20px;
    }
  }
  &__list__item {
    float: none;
    margin-bottom: 10px;
  }
  &__heading {
    margin-bottom: 20px;
    color: $textColor;
    font-weight: 700;
  }
  &__cursor {
    cursor: pointer;
  }
  &__geolocation {
    background-color: $darkBlue;
    height: 280px;
    background-image: url(../img/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    @mixin atLarge {
      margin-right: 20px;
    }
  }
}
